* {
    font-family: 'IBM Plex Sans', sans-serif !important;
}

.open-sans-uniquifier> {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight:weight;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }

  html, body {
    scroll-behavior: smooth;
  }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    background-color: #ffffff;
}

.logo {
    margin-left: 7rem;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    position: relative;
      font-size: 2rem;
    font-weight: bold;
}

nav a::after {
     content: "";
     position: absolute;
     bottom: -5px;
     left: 0;
     width: 0;
     height: 5px;
     transition: 0.3s;
    background-color: #494949;
}

nav a:hover::after {
    width: 100%; 
}

nav a:hover {
    color: #494949; 
}

#home {
    background-color: #D9D5D5;
    margin: 0;
    padding: 0;
    height: 1100px;
}

#home .titulo-home {
    font-size: 72px;
    color: #320E0E;
}

#home .paragrafo-home {
    font-size: 31px;
    color: #320E0E;
}

#itchio {
    background-color: #E74A4A;
    margin: 0;
    padding: 0;
    height: 1080px;
    border-radius: 50px 50px 0px 0px;
    border-color: #494949 ;
}

#itchio .titulo-itchio {
    font-size: 72px;
}

#itchio .paragrafo-itchio {
    font-size: 31px;
}

#studio {
    background-color: #216EEB;
    margin: 0;
    padding: 0;
    height: 1080px;
    border-radius: 50px 50px 0px 0px;
}

#studio .titulo-studio {
    font-size: 72px;
}

#studio .paragrafo-studio {
    font-size: 31px;
}

#sociais {
    background-color: #ECDB5A;
    margin: 0;
    padding: 0;
    height: 1080px;
    border-radius: 50px 50px 0px 0px;
}

#sociais .titulo-sociais {
    font-size: 72px;
}

#sociais .paragrafo-sociais {
    font-size: 31px;
}

/* .nav-bar-lateral {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 492px;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 200px 24px;
    position: absolute;
    background-color: #9b9b9b;
    border-radius: 450px;
}

.nav-bar-lateral .home-button {
    position: relative;
    width: 72px;
    height: 72px;
    margin-top: -158.00px;
    margin-left: -10.00px;
    margin-right: -10.00px;
}

.nav-bar-lateral .frame {
    margin-top: -46.00px;
    position: relative;
    width: 72px;
    height: 72px;
    margin-left: -10.00px;
    margin-right: -10.00px;
}

.nav-bar-lateral .img {
    margin-bottom: -46.00px;
    position: relative;
    width: 72px;
    height: 72px;
    margin-left: -10.00px;
    margin-right: -10.00px;
}

.nav-bar-lateral .frame-2 {
    margin-bottom: -158.00px;
    position: relative;
    width: 72px;
    height: 72px;
    margin-left: -10.00px;
    margin-right: -10.00px;
} */

footer {
    background-color: #D9D5D5;
}

footer .footer-copy {
    font-size: 26px;
    margin-left: 1220px;
}
