* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  html, body {
    font-family: "Open Sans", serif;
    scroll-behavior: smooth;
    margin: 0;
    overflow-x: hidden;
    width: 100%;
    /* padding-top: 40px; */
  }

header {
    position: relative;
    padding: 0 2rem;
    background: #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    width: 100%;
    height: 200px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 150px;
    cursor: pointer;
}

.navbar .links {
    display: flex;
    gap: 3rem;
}

.navbar .toggle_btn {
    color: #ffffff;
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

.action-btn {
    background-color: orange;
    color:#ffffff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action-btn:hover {
    scale: 1.05;
    color: #ffffff;
}

.action-btn:active {
    scale: 0.95;
}

/*DROPDOWN MENU*/

.dropdown-menu {
    display: none;
    position: absolute;
    right: 4rem;
    top: 100px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open {
    height: 360px;
}

.dropdown-menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-menu .action-btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

/*DESIGN RESPONSIVO*/

@media(max-width: 1150px) {
    .navbar .links,
    .navbar .action-btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown-menu {
       display: block; 
    }
}

@media(max-width: 576px) {
    .dropdown-menu {
        left: 2rem;
        width: unset;
    }
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-size: 2rem;
}


a:hover {
    color: orange;
}

.nav {
    display: flex;
    gap: 100px;
}

#home {
    background-color: #D9D5D5;
    margin: 0;
    padding: 0;
    height: 1100px;
}

#home .titulo-home {
    font-size: 72px;
}

#home .paragrafo-home {
    font-size: 31px;
}

#personagens {
    background-color: #fb4949;
    margin: 0;
    padding: 0;
    height: 1080px;
    border-radius: 50px 50px 0px 0px;
    box-shadow: -25px -25px 0px 32px #D9D5D5;
    
}

#personagens .titulo-personagens {
    font-size: 72px;
}

#personagens .paragrafo-personagens {
    font-size: 31px;
}

#studio {
    /* background-color: #00aaff; */
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    border-radius: 50px 50px 0px 0px;
    box-shadow: -25px -25px 0px 32px #fb4949;
}

#studio .titulo-studio {
    font-size: 72px;
}

#studio .paragrafo-studio {
    font-size: 31px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 2em 1em;
    text-align: center;
}

.coluna{
    width: 100%;
    height: 100%;
    
}

h2 {
    width: 100%;
    text-align: center;
    font-size: 3.5em;
}

.card {
    box-shadow: 0 0 2.2em rgba(25, 0, 58, 0.1);
    padding: 3.5em 3.5em;
    border-radius: 0.6em;
    color: #1f003b;
    transition: 0.3s;
    background-color: #ffffff;
}

.card .img-container {
    width: 12em;
    height: 12em;
    background-color: #8b00ff;
    padding: 0.5em;
    border-radius: 50%;
    margin: 0 auto 2em auto;
}

.card img {
    width: 100%;
    border-radius: 50%;
}

.card h3 {
    font-size: 30px;
    font-weight: 700;
}

.card p {
    font-size: 21px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0.5em 0 2em 0;
    letter-spacing: 2px;
}

.icons {
    width: 25%;
    min-width: 180px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.card a {
    text-decoration: none;
    color: inherit;
    font-size: 2.5em;
}

.card:hover{
    background: linear-gradient(#6045ea, #8567f7);
    color: #ffffff;
}

.card:hover .img-container {
    transform: scale(1.15);
}

.card:hover .icons {
    transform: scale(1.15);
}

@media screen and (min-width: 768px){
    section {
        padding: 1em 7em;
    }
}

@media screen and (min-width: 992px) {
    section {
        padding: 1em;
    }
    .card{
        padding: 5em 1em;
    }
    .coluna {
        flex: 0 0 33.33%;
        max-width: 33.33%;
        padding: 1em 1em;
    }
}

#sociais {
    background-color: #ffe800;
    margin: 0;
    padding: 0;
    height: 1080px;
    border-radius: 50px 50px 0px 0px;
    box-shadow: -25px -25px 0px 32px #f5f5f5;
}

#sociais .titulo-sociais {
    font-size: 72px;
}

#sociais .paragrafo-sociais {
    font-size: 31px;
}


footer {
    background-color: #D9D5D5;
}

footer .footer-copy {
    font-size: 26px;
    margin-left: 1220px;
}

footer .p {
    justify-content: center;
}
